
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<h2>@(ApiKarbord.Controllers.Unit.UnitPublic.titleVer)   @(ApiKarbord.Controllers.Unit.UnitPublic.VerNumber.ToString())</h2>

